@function calculator-rem($font-size){
    $size: $font-size/16;
    @return $size + rem
};

@mixin flex ($justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
};