
@import "./reset";

.calculator{
    width: 352px;
    background: $black;

    &__display {
        width: 100%;
    }

    &_display-input {
        background: transparent;
        outline: transparent;
        border: 0;
        color: #FFFFFF;
    }

    &__display-result{
        color: $light-grey;
    }
    
    &__buttons{
        &--button {
            background: $grey;
            color: $white;
            width: 73px;
            height: 75px;
            border-radius: 9px;
            border: 0;
            font-size: calculator-rem(36);

        &:hover{
                    background: lighten($grey, 30%)
        }
    }

    &--button-background-red{
        background: $red;
    }
    
    &--button-color-green{
        color: $green;
    }

    &--button-color-grey{
        color: $grey;
    }

    &--button-background-green{
        background: $green;
    }
    
}

    &__buttons-wrapper{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;

    }



}